In [1]:
import pandas as pd
import numpy as np

In [2]:
def save(data, sheetname, append = True):
    if append:
        with pd.ExcelWriter('../data/processed_data/Energy_consumption.xlsx', mode = 'a', engine = 'openpyxl' ) as writer:
            data.to_excel(writer, sheet_name = sheetname)
    else:
        with pd.ExcelWriter('../data/processed_data/Energy_consumption.xlsx') as writer:
            data.to_excel(writer, sheet_name = sheetname)

In [3]:
data_19 = pd.read_excel('../data/raw_data/2019 Power sector Energy Generated.xlsx', sheet_name = 'Energy Consumed (MWH) 2019', header = 1, index_col = 0)

In [4]:
data_19 = data_19.drop([np.nan, 'JAN-JUNE TOTAL', 'JUL-DEC TOTAL'])

In [5]:
data_19

,ABUJA,IBADAN,EKO,IKEJA,BENIN,JOS,KADUNA,YOLA,PORTHARCOURT,ENUGU,KANO,TOTAL
REGION,,,,,,,,,,,,
JANUARY,320061.47,300517.35,296600.74,312172.06,223259.42,111088.85,195788.57,94458.7,264543.06,155439.79,149800.32,2423730.33
FEBRUARY,299146.05,282012.62,289100.56,309221.44,216306.22,96925.70,181804.62,93449.5,253260.18,141727.94,158790.61,2321745.44
MARCH,357128.35,285941.91,327956.86,360745.64,228707.71,104736.55,192970.61,118062.3,267083.55,149431.14,158790.61,2551555.23
APRIL,341874.02,283503.08,274755.11,322408.60,229247.05,91786.20,158627.95,103794.3,266421.16,144944.91,175720.04,2393082.42
MAY,300917.63,293824.75,291532.68,337215.92,188596.97,97371.45,172991.07,86969.4,269149.32,134263.97,162974.20,2335807.36
JUNE,318251.01,268959.20,263948.15,328926.25,165231.22,105167.00,164246.76,87232.6,261300.63,125767.58,158678.33,2247708.73
JULY,298248.45,296929.18,289065.84,338912.36,188120.80,101331.60,163813.08,81802.3,245091.18,130954.58,146512.43,2280781.80
AUGUST,322835.63,305772.70,310502.47,350778.87,182425.49,93479.00,146742.54,90162.0,231147.85,140498.50,130347.94,2304692.99
SEPTEMBER,267685.55,268909.60,275655.05,337057.65,182952.06,100067.95,124131.60,83674.0,240644.14,127219.86,128121.04,2136118.50
OCTOBER,278072.54,287914.26,269595.35,334432.30,177257.33,106916.75,134280.10,93764.0,261006.52,130172.09,146421.10,2219832.34
NOVEMBER,305207.00,312465.05,306970.12,364651.69,189377.27,104976.90,143565.56,100388.2,268760.93,131471.31,141872.63,2369706.66
DECEMBER,290075.52,336656.92,315507.01,391448.40,199816.32,110850.05,132085.54,88777.2,293998.87,138865.77,143659.62,2441741.22
ANNUAL TOTAL,3699503.22,3523406.62,3511189.94,4087971.18,2371297.86,1224698.00,1911048.00,1122534.5,3122407.39,1650757.44,1801688.87,28026503.02

In [6]:
save(data_19, 'Consumption in 2019', False)

In [7]:
data_20 = pd.read_excel('../data/raw_data/Energy report 2020.xlsx', sheet_name = 'Monthly', skiprows = 36)

In [8]:
data_20_columns = pd.read_excel('../data/raw_data/Energy report 2020.xlsx', sheet_name = 'Monthly', nrows = 1, skiprows = 1).iloc[0].to_list()
data_20_columns[0] = 'Plant'
data_20_columns[1] = 'Source'
data_20.columns = data_20_columns

In [9]:
data_20

,Plant,Source,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,Q1 2020,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,Q2 2020,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,Q3 2020,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,Q4 2020
0,NaN,NaN,2776.435093,2761.833710,2852.033927,8390.302731,2907.869311,3062.727107,2650.040096,8620.636514,2815.095011,2974.280252,2741.275598,8530.650860,3073.702590,3122.507662,3291.781195,9487.991446
1,AFAM (I-V),Thermal,54.000000,57.000000,53.000000,164.000000,28.000000,32.000000,28.000000,88.000000,21.000000,31.000000,11.000000,63.000000,39.000000,44.000000,46.000000,129.000000
2,GEREGU,Thermal,200.588000,158.909000,98.808000,458.305000,171.234000,217.081000,137.830000,526.145000,134.229000,153.307000,156.501000,444.037000,155.919000,203.624000,235.128000,594.671000
3,EGBIN,Thermal,377.119100,400.626100,425.107700,1202.852900,393.316000,367.494700,347.680000,1108.490700,321.251200,342.833100,308.306900,972.391200,383.030800,414.506600,459.979600,1257.517000
4,SAPELE,Thermal,19.857120,17.424090,15.698340,52.979550,26.933070,32.148080,19.337400,78.418550,23.836550,34.797740,19.643710,78.278000,25.937120,33.437040,38.952700,98.326860
5,UGHELLI,Thermal,187.322500,162.807800,200.673200,550.803500,248.990900,265.804980,247.591100,762.386980,249.516400,227.301100,217.829700,694.647200,227.843700,238.046500,212.851300,678.741500
6,SHIRORO,Hydro,203.200000,209.450000,260.740000,673.390000,172.320000,125.120000,98.400000,395.840000,181.700000,278.000000,292.000000,751.700000,281.000000,272.000000,248.000000,801.000000
7,KAINJI,Hydro,299.672000,289.799700,294.255000,883.726700,245.074000,206.244800,185.122000,636.440800,187.056000,229.783900,190.688800,607.528700,254.917000,269.729000,267.154000,791.800000
8,JEBBA,Hydro,274.839100,215.117200,220.672500,710.628800,197.147300,201.232800,164.040600,562.420700,207.062900,241.889800,207.550000,656.502700,234.740900,256.153710,261.266500,752.161110
9,AES BARGE,Thermal,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
10,OKPAI,Thermal,94.497100,68.372100,96.881400,259.750600,115.753500,117.229900,113.762200,346.745600,156.738200,222.464300,229.854500,609.057000,157.656700,109.583800,108.447500,375.688000
11,AFAM VI,Thermal,120.690856,131.787051,221.000000,473.477907,198.280805,210.585219,196.356999,605.223023,170.032760,194.236246,155.798050,520.067056,200.001691,184.984501,246.501898,631.488090
12,OMOKU,Thermal,51.079700,48.950500,47.308800,147.339000,52.337000,47.615000,45.145000,145.097000,44.293000,45.175600,17.733700,107.202300,23.902400,33.983000,24.889600,82.775000
13,TRANS-AMADI,Thermal,0.000000,35.766900,51.644000,87.410900,49.303700,50.610300,50.613700,150.527700,38.365000,26.946900,30.002200,95.314100,53.964300,44.276200,54.538900,152.779400
14,RIVERS IPP,Thermal,65.805600,93.104000,80.039800,238.949400,72.134800,83.878500,83.393500,239.406800,74.405000,93.708000,73.710000,241.823000,69.599000,70.486000,52.156900,192.241900
15,IBOM POWER,Thermal,11.627000,8.400000,0.000000,20.027000,26.109000,43.164000,46.703000,115.976000,47.546000,26.380000,22.318000,96.244000,12.771000,35.421000,42.164000,90.356000
16,OLORUNSOGO,Thermal,80.049000,60.551900,58.811400,199.412300,83.608900,90.444500,88.442600,262.496000,123.470100,122.943000,109.159100,355.572200,110.977500,101.468200,90.171900,302.617600
17,OMOTOSHO,Thermal,63.139000,67.480600,68.580500,199.200100,70.740900,96.104000,82.062400,248.907300,106.518100,110.237800,106.065000,322.820900,108.520900,99.852600,76.711800,285.085300
18,OLORUNSOGO NIPP,Thermal,0.785000,21.600000,0.000000,22.385000,25.000000,37.800000,12.000000,74.800000,17.000000,0.000000,0.000000,17.000000,NaN,9.829000,0.673000,10.502000
19,OMOTOSHO NIPP,Thermal,53.877200,56.605800,25.684900,136.167900,68.049300,66.258400,46.547900,180.855600,47.971900,44.031130,48.423500,140.426530,52.006300,71.304200,71.243000,194.553500
20,ALAOJI NIPP,Thermal,4.673620,74.855190,125.848570,205.377380,83.435290,66.046940,29.165790,178.648020,32.737180,21.067000,6.817750,60.621930,43.882670,52.395730,0.000000,96.278400
21,SAPELE NIPP,Thermal,10.153000,0.000000,0.000000,10.153000,0.000000,0.000000,0.000000,0.000000,20.556800,20.989380,44.002300,85.548480,54.335600,44.270440,57.493050,156.099090
22,IHOVBOR NIPP,Thermal,13.364690,6.988980,0.000000,20.353670,14.861720,22.621690,4.678930,42.162340,34.112880,19.462860,39.094380,92.670120,28.716270,0.000000,0.000000,28.716270
23,GEREGU NIPP,Thermal,83.240000,77.101980,70.960000,231.301980,72.630000,66.670000,51.690000,190.990000,54.270000,56.140000,59.220000,169.630000,59.160000,80.640000,84.280000,224.080000
24,CALABAR NIPP,Thermal,224.803090,221.241450,240.837950,686.882490,203.957560,273.296840,249.979020,727.233420,191.471020,118.716470,69.585620,379.773110,163.821950,245.357540,255.700040,664.879530
25,NESCO,Hydro,6.890000,6.405000,6.670000,19.965000,6.300000,6.630000,5.960000,18.890000,6.640000,6.940000,5.730000,19.310000,6.030000,4.170000,2.560000,12.760000
26,PARAS,Thermal,47.998117,44.612669,46.558367,139.169154,46.868266,47.524758,46.282157,140.675181,48.618821,48.613726,46.867387,144.099934,48.598689,47.117301,48.230206,143.946196
27,GBARAIN,Thermal,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,AZURA-EDO,Thermal,227.164300,226.875700,142.253500,596.293500,235.483300,289.120700,269.255800,793.859800,274.696200,257.315200,273.374000,805.385400,277.369100,155.871300,306.687300,739.927700
29,DADIN KOWA,Hydro,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000

In [10]:
save(data_20, 'Consumption in 2020', True)

In [11]:
# Gencos Sentout
data_21_a = pd.read_excel('../data/raw_data/Energy report 2021.xlsx', sheet_name = 'Monthly', skiprows = 36)

In [12]:
data_21_a_columns = pd.read_excel('../data/raw_data/Energy report 2021.xlsx', sheet_name = 'Monthly', ).iloc[1].to_list()
data_21_a_columns[0] = 'Plant'
data_21_a_columns[1] = 'Source'
data_21_a.columns = data_21_a_columns
data_21_a.loc[data_21_a.index[0], 'Plant'] = 'Total'
data_21_a.loc[data_21_a.index[0], 'Source'] = 'Total'

In [13]:
data_21_a

,Plant,Source,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,Q1 2020,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,Q2 2020,...,Q2 2021,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,Q3 2021,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Q4 2021,NaN
0,Total,Total,2776.435093,2761.833710,2852.033927,8390.302731,2907.869311,3062.727107,2650.040096,8620.636514,...,8728.872414,2862.793413,2915.490941,2732.552634,8510.836988,3037.288938,2835.319304,3022.360471,8894.968712,70684.014194
1,AFAM (I-V),Thermal,54.000000,57.000000,53.000000,164.000000,28.000000,32.000000,28.000000,88.000000,...,177.100000,70.000000,64.000000,36.700000,170.700000,34.460000,36.700000,42.490000,113.650000,1029.380000
2,GEREGU,Thermal,200.588000,158.909000,98.808000,458.305000,171.234000,217.081000,137.830000,526.145000,...,729.574000,221.088000,138.230000,93.503000,452.821000,125.408000,187.032000,261.231000,573.671000,4452.626000
3,EGBIN,Thermal,377.119100,400.626100,425.107700,1202.852900,393.316000,367.494700,347.680000,1108.490700,...,1508.794100,439.434900,381.656630,344.030410,1165.121940,292.125300,351.692500,403.470300,1047.288100,9864.169740
4,SAPELE,Thermal,19.857120,17.424090,15.698340,52.979550,26.933070,32.148080,19.337400,78.418550,...,90.379100,33.108400,21.203400,28.338500,82.650300,32.513000,22.917100,NaN,55.430100,620.865060
5,UGHELLI,Thermal,187.322500,162.807800,200.673200,550.803500,248.990900,265.804980,247.591100,762.386980,...,685.458580,284.179600,260.073400,228.210200,772.463200,211.373900,NaN,NaN,211.373900,5014.265800
6,SHIRORO,Hydro,203.200000,209.450000,260.740000,673.390000,172.320000,125.120000,98.400000,395.840000,...,317.000000,165.000000,219.000000,271.000000,655.000000,289.000000,247.000000,235.000000,771.000000,5011.930000
7,KAINJI,Hydro,299.672000,289.799700,294.255000,883.726700,245.074000,206.244800,185.122000,636.440800,...,568.846200,141.529900,171.820900,257.908700,571.259500,295.185400,287.382000,309.792000,892.359400,5709.598300
8,JEBBA,Hydro,274.839100,215.117200,220.672500,710.628800,197.147300,201.232800,164.040600,562.420700,...,668.993200,153.097500,228.277900,288.159500,669.534900,324.638700,310.279500,323.838400,958.756600,5700.358910
9,AES BARGE,Thermal,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,...,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
10,OKPAI,Thermal,94.497100,68.372100,96.881400,259.750600,115.753500,117.229900,113.762200,346.745600,...,817.759700,125.786200,42.984400,217.964500,386.735100,213.908300,176.850400,203.429800,594.188500,3888.741800
11,AFAM VI,Thermal,120.690856,131.787051,221.000000,473.477907,198.280805,210.585219,196.356999,605.223023,...,568.154517,310.474973,269.909410,116.108550,696.492934,167.651538,113.023204,200.501740,481.176481,4596.274501
12,OMOKU,Thermal,51.079700,48.950500,47.308800,147.339000,52.337000,47.615000,45.145000,145.097000,...,71.556400,25.926100,28.359100,27.340100,81.625300,28.691300,30.295000,32.262500,91.248800,790.819800
13,TRANS-AMADI,Thermal,0.000000,35.766900,51.644000,87.410900,49.303700,50.610300,50.613700,150.527700,...,112.713400,45.559900,34.354700,12.976000,92.890600,43.943000,34.322000,40.635000,118.900000,955.174100
14,RIVERS IPP,Thermal,65.805600,93.104000,80.039800,238.949400,72.134800,83.878500,83.393500,239.406800,...,82.572500,33.596100,77.878000,10.136700,121.610800,60.611900,48.143000,93.473400,202.228300,1548.068700
15,IBOM POWER,Thermal,11.627000,8.400000,0.000000,20.027000,26.109000,43.164000,46.703000,115.976000,...,0.694000,2.492000,5.348000,NaN,7.840000,5.330000,15.382000,7.166000,27.878000,432.397000
16,OLORUNSOGO,Thermal,80.049000,60.551900,58.811400,199.412300,83.608900,90.444500,88.442600,262.496000,...,195.380200,78.450000,100.948400,97.809000,277.207400,113.624500,118.539900,71.810900,303.975300,2175.145200
17,OMOTOSHO,Thermal,63.139000,67.480600,68.580500,199.200100,70.740900,96.104000,82.062400,248.907300,...,180.725400,73.604100,94.658000,98.086800,266.348900,123.323500,105.796600,67.273000,296.393100,2068.764100
18,OLORUNSOGO NIPP,Thermal,0.785000,21.600000,0.000000,22.385000,25.000000,37.800000,12.000000,74.800000,...,3.500000,0.000000,5.545000,1.500000,7.045000,0.000000,0.000000,NaN,0.000000,186.232000
19,OMOTOSHO NIPP,Thermal,53.877200,56.605800,25.684900,136.167900,68.049300,66.258400,46.547900,180.855600,...,23.030500,5.622000,48.035000,2.442100,56.099100,12.150000,15.495400,29.920300,57.565700,931.361430
20,ALAOJI NIPP,Thermal,4.673620,74.855190,125.848570,205.377380,83.435290,66.046940,29.165790,178.648020,...,182.330330,60.213680,67.347860,37.218200,164.779740,11.853420,42.127640,83.607320,137.588380,1025.694910
21,SAPELE NIPP,Thermal,10.153000,0.000000,0.000000,10.153000,0.000000,0.000000,0.000000,0.000000,...,0.000000,53.202870,56.142350,35.976780,145.322000,24.882620,32.442160,4.841960,62.166740,520.423520
22,IHOVBOR NIPP,Thermal,13.364690,6.988980,0.000000,20.353670,14.861720,22.621690,4.678930,42.162340,...,16.591460,0.000000,0.000000,24.817230,24.817230,13.715260,46.429400,44.835950,104.980610,330.291700
23,GEREGU NIPP,Thermal,83.240000,77.101980,70.960000,231.301980,72.630000,66.670000,51.690000,190.990000,...,78.311850,49.954500,55.734830,33.518060,139.207390,81.086400,88.687500,67.843000,237.616900,1492.698120
24,CALABAR NIPP,Thermal,224.803090,221.241450,240.837950,686.882490,203.957560,273.296840,249.979020,727.233420,...,689.960000,138.770000,198.930000,174.760000,512.460000,207.730000,206.663000,191.214000,605.607000,4985.287550
25,NESCO,Hydro,6.890000,6.405000,6.670000,19.965000,6.300000,6.630000,5.960000,18.890000,...,7.090000,3.730000,4.560000,3.190000,11.480000,4.650000,4.355000,3.130000,12.135000,112.550000
26,PARAS,Thermal,47.998117,44.612669,46.558367,139.169154,46.868266,47.524758,46.282157,140.675181,...,140.278878,47.335690,44.499260,29.956000,121.790950,31.450000,26.240000,34.000000,91.690000,1061.565148
27,GBARAIN,Thermal,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000
28,AZURA-EDO,Thermal,227.164300,226.875700,142.253500,596.293500,235.483300,289.120700,269.255800,793.859800,...,812.078100,300.637000,295.994401,260.902304,857.533704,287.982900,287.524000,270.593901,846.100801,6179.330805
29,DADIN KOWA,Hydro,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,...,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000

In [14]:
save(data_21_a, 'Consumption in 2021(Genco Release)', True)

C:\Users\Hafsah F. Anibaba\anaconda3\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [23]:
# Discos Billed
data_21_b = pd.read_excel('../data/raw_data/DISCOS ELECTRICITY REPORT 2021.xlsx', skiprows = 2, nrows = 14)
data_21_b = data_21_b.drop(['Unnamed: 0', 'Unnamed: 16', 'ABUJA ', '(AEDC)'], axis = 1)

In [24]:
data_21_b

,DISCOS,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2021,2020
0,TOTAL,2097.568375,2101.253905,1973.366755,2042.986540,1955.343360,1884.241882,1747.027246,1865.439878,1880.168772,1840.408950,1972.629029,2000.154835,23360.589527,22042.280008
1,ABUJA (AEDC),218.000000,226.000000,229.000000,245.000000,231.000000,211.000000,206.000000,223.000000,211.000000,217.000000,225.000000,235.000000,2677.000000,2388.000000
2,BENIN (BEDC),200.504476,203.848963,179.630103,202.004241,180.986591,187.810117,172.391180,187.851700,178.301912,173.567699,190.741623,182.735847,2240.374451,2138.115855
3,EKO (EKEDC),300.000000,297.880287,271.590137,262.000000,252.861761,249.436155,229.547498,249.461451,262.766926,242.688884,271.965378,269.000000,3159.198477,3097.873500
4,ENUGU (EEDC),193.000000,201.000000,184.000000,179.000000,166.000000,163.000000,151.000000,168.000000,162.000000,157.000000,159.800000,163.000000,2046.800000,1700.000000
5,IBADAN (IBEDC),300.645202,305.318615,268.273762,270.246883,252.013780,207.557577,180.322862,218.963407,224.746495,232.821954,240.834471,255.427647,2957.172657,2841.084669
6,IKEJA (IEDC),359.398436,359.917321,351.405779,352.701161,341.928826,346.826724,322.040736,334.463747,323.203248,314.872730,339.553037,342.304585,4088.616329,4158.870044
7,JOS (JEDC),69.560678,69.514924,68.391723,67.497874,70.774540,87.784576,78.315083,77.196098,84.411301,86.866727,89.933625,92.902872,943.150022,789.458455
8,KADUNA (KDEDC),144.000000,138.000000,129.000000,150.000000,156.000000,147.000000,139.000000,142.000000,148.000000,147.000000,156.000000,161.000000,1757.000000,1398.000000
9,KANO (KEDC),123.187681,119.820479,121.516274,132.157170,124.994867,115.082066,108.697092,98.151292,115.933961,106.992423,127.940849,136.542122,1431.016276,1428.687681
10,PORT HARCOURT (PEDC),142.271902,135.953317,138.558976,146.379211,144.782996,135.744667,127.712796,132.352182,137.804929,129.598532,137.860045,129.241761,1638.261315,1545.189805
11,YOLA (YEDC),47.000000,44.000000,32.000000,36.000000,34.000000,33.000000,32.000000,34.000000,32.000000,32.000000,33.000000,33.000000,422.000000,557.000000
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
save(data_21_b, 'Consumption in 2021(Disco billed)', True)

C:\Users\Hafsah F. Anibaba\anaconda3\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [43]:
data_22 = pd.read_excel('../data/raw_data/ELECTRICIY DATA 2015-Q4 2022.xlsx', skiprows = 65)

In [44]:
data_22_columns = data_22.columns.to_list()
data_22_columns[0] = 'Discos'
data_22.columns = data_22_columns
data_22.loc[data_22.index[0], 'Discos'] = 'Total'

In [42]:
data_22_q = pd.read_excel('../data/raw_data/ELECTRICIY DATA 2015-Q2 2022.xlsx', skiprows = 65)[['Q1', 'Q2']]

In [46]:
data_22 = pd.concat([data_22, data_22_q], axis = 1)

In [47]:
data_22

,Discos,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,...,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,TOTAL.7,Q3,Q4,Q1,Q2
0,Total,1731.976127,1699.355150,1522.954093,1587.924630,1393.060383,1189.596685,1569.773986,1840.167840,1961.059817,...,1710.177145,1802.537580,1813.719086,1848.537254,1948.392986,21817.099808,5023.962005,5610.649326,5955.515410,5226.973067
1,ABUJA (AEDC),246.000000,250.000000,244.000000,236.000000,212.000000,156.000000,227.000000,220.000000,250.000000,...,217.000000,234.000000,239.000000,255.000000,251.000000,2656.000000,646.000000,745.000000,649.000000,616.000000
2,BENIN (BEDC),165.020000,130.930000,125.470000,128.870000,134.700000,103.310000,102.840000,125.430000,128.150000,...,183.637713,187.940295,197.140591,204.620000,193.322185,2278.478444,534.235939,595.082776,603.004095,546.155633
3,EKO (EKEDC),191.795167,195.000000,155.016759,163.000000,133.517640,117.252571,177.000000,223.446965,234.114897,...,211.000000,245.000000,237.000000,240.000000,271.000000,2768.387434,639.000000,748.000000,754.387434,627.000000
4,ENUGU (EEDC),162.000000,159.000000,146.000000,139.000000,136.000000,118.000000,148.000000,158.000000,168.000000,...,162.000000,144.000000,138.000000,138.000000,152.000000,1872.000000,450.000000,428.000000,530.000000,464.000000
5,IBADAN (IBEDC),235.229052,236.538056,203.970464,230.554058,199.276902,181.076522,240.307936,283.575942,281.256615,...,209.749337,213.432256,208.278685,216.275267,226.257005,2592.221941,595.818276,650.810957,724.187538,621.405170
6,IKEJA (IEDC),250.701908,253.557094,235.416870,264.490572,204.174692,184.537592,248.026049,312.804933,333.388305,...,278.008078,313.875054,322.564031,302.033831,327.235026,3601.395243,826.628976,951.832887,987.211879,835.721501
7,JOS (JEDC),91.000000,120.000000,68.300000,85.000000,60.000000,58.000000,71.000000,84.000000,109.000000,...,83.899215,89.755187,109.561701,113.950913,122.937498,1168.459545,258.163042,346.450112,296.361134,267.485257
8,KADUNA (KDEDC),130.230000,127.430000,124.870000,134.610000,128.050000,99.800000,120.000000,147.000000,154.000000,...,84.000000,81.000000,80.000000,81.970000,88.500000,1415.470000,258.000000,250.470000,473.000000,434.000000
9,KANO (KEDC),87.000000,72.870000,79.910000,63.400000,49.600000,49.640000,84.600000,102.110000,109.150000,...,101.000000,116.000000,104.000000,112.000000,125.756793,1367.956793,303.000000,341.756793,413.200000,310.000000
10,PORT HARCOURT (PEDC),152.000000,134.630000,121.000000,122.000000,116.341150,105.180000,127.000000,153.000000,160.000000,...,143.000000,141.390583,140.795510,143.000000,147.705137,1609.791269,405.716274,431.500647,395.569923,377.004425
11,YOLA (YEDC),21.000000,19.400000,19.000000,21.000000,19.400000,16.800000,24.000000,30.800000,34.000000,...,36.882802,36.144205,37.378568,41.687244,42.679344,486.939140,107.399498,121.745156,129.593405,128.201081

In [48]:
save(data_22, 'Consumption in 2022', True)

C:\Users\Hafsah F. Anibaba\anaconda3\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [84]:
data_23_24 = pd.read_excel('../data/raw_data/ELECTRICITY DATA 2015-Q1 2024.xlsx', skiprows = 65)
data_23_24_columns = data_23_24.columns.to_list()
data_23_24_columns[0] = 'Discos'
data_23_24.columns = data_23_24_columns
data_23_24.loc[data_23_24.index[0], 'Discos'] = 'Total'

In [85]:
data_23_24

,Discos,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,...,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,Q1
0,Total,1731.976127,1699.355150,1522.954093,1587.924630,1393.060383,1189.596685,1569.773986,1840.167840,1961.059817,...,1910.532922,1910.532922,1910.532922,2120.668888,2144.613377,2166.934654,2072.017504,1759.218752,1938.279556,5769.515812
1,ABUJA (AEDC),246.000000,250.000000,244.000000,236.000000,212.000000,156.000000,227.000000,220.000000,250.000000,...,247.000000,247.000000,247.000000,299.000000,301.000000,284.000000,290.000000,277.000000,279.000000,846.000000
2,BENIN (BEDC),165.020000,130.930000,125.470000,128.870000,134.700000,103.310000,102.840000,125.430000,128.150000,...,179.120091,179.120091,179.120091,191.802865,179.794193,194.585184,182.792105,145.383814,160.643501,488.819420
3,EKO (EKEDC),191.795167,195.000000,155.016759,163.000000,133.517640,117.252571,177.000000,223.446965,234.114897,...,286.000000,286.000000,286.000000,304.000000,317.000000,313.000000,322.000000,236.000000,291.000000,849.000000
4,ENUGU (EEDC),162.000000,159.000000,146.000000,139.000000,136.000000,118.000000,148.000000,158.000000,168.000000,...,140.000000,140.000000,140.000000,167.000000,159.799076,182.596245,165.000000,137.652262,141.121211,443.773473
5,IBADAN (IBEDC),235.229052,236.538056,203.970464,230.554058,199.276902,181.076522,240.307936,283.575942,281.256615,...,224.850000,224.850000,224.850000,254.880000,269.530000,275.650000,253.990000,220.330000,242.190000,716.510000
6,IKEJA (IEDC),250.701908,253.557094,235.416870,264.490572,204.174692,184.537592,248.026049,312.804933,333.388305,...,373.682117,373.682117,373.682117,358.316194,360.322343,351.100825,320.567819,266.683594,321.075273,908.326686
7,JOS (JEDC),91.000000,120.000000,68.300000,85.000000,60.000000,58.000000,71.000000,84.000000,109.000000,...,87.518620,87.518620,87.518620,113.581680,105.605742,118.657173,111.332819,92.287184,97.218377,300.838379
8,KADUNA (KDEDC),130.230000,127.430000,124.870000,134.610000,128.050000,99.800000,120.000000,147.000000,154.000000,...,81.199000,81.199000,81.199000,77.000000,83.220000,82.000000,81.213000,84.300000,86.000000,251.513000
9,KANO (KEDC),87.000000,72.870000,79.910000,63.400000,49.600000,49.640000,84.600000,102.110000,109.150000,...,95.936115,95.936115,95.936115,108.983163,124.575763,128.316131,116.038704,102.816122,111.071368,329.926194
10,PORT HARCOURT (PEDC),152.000000,134.630000,121.000000,122.000000,116.341150,105.180000,127.000000,153.000000,160.000000,...,144.033629,144.033629,144.033629,155.113933,149.913901,168.752072,163.351118,138.451056,149.602306,451.404480
11,YOLA (YEDC),21.000000,19.400000,19.000000,21.000000,19.400000,16.800000,24.000000,30.800000,34.000000,...,51.193351,51.193351,51.193351,90.991053,93.852360,68.277023,65.731940,58.314720,59.357520,183.404180

In [86]:
data_23_4 = pd.read_excel('../data/raw_data/ELECTRICITY DATA 2015-Q4 2023.xlsx', skiprows = 65).rename(columns = {'Q4': 'Q4_2023'})['Q4_2023']
data_23_3 = pd.read_excel('../data/raw_data/ELECTRICIY DATA 2015-Q3 2023.xlsx', skiprows = 65).rename(columns = {'Q3':'Q3_2023'})['Q3_2023']
data_23_2 = pd.read_excel('../data/raw_data/ELECTRICIY DATA 2015-Q2 2022.xlsx', skiprows = 65).rename(columns = {'Q2': 'Q2_2023'})['Q2_2023']
data_23_1 = pd.read_excel('../data/raw_data/ELECTRICIY DATA 2015-Q1 2023.xlsx', skiprows = 65).rename(columns = {'Q1': 'Q1_2023'})['Q1_2023']

In [87]:
data_23_24 = pd.concat([data_23_24, data_23_4, data_23_3, data_23_2, data_23_1], axis = 1)
data_23_24

,Discos,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,...,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,Q1,Q4_2023,Q3_2023,Q2_2023,Q1_2023
0,Total,1731.976127,1699.355150,1522.954093,1587.924630,1393.060383,1189.596685,1569.773986,1840.167840,1961.059817,...,2144.613377,2166.934654,2072.017504,1759.218752,1938.279556,5769.515812,6432.216918,5731.598767,5226.973067,5851.866583
1,ABUJA (AEDC),246.000000,250.000000,244.000000,236.000000,212.000000,156.000000,227.000000,220.000000,250.000000,...,301.000000,284.000000,290.000000,277.000000,279.000000,846.000000,884.000000,741.000000,616.000000,750.000000
2,BENIN (BEDC),165.020000,130.930000,125.470000,128.870000,134.700000,103.310000,102.840000,125.430000,128.150000,...,179.794193,194.585184,182.792105,145.383814,160.643501,488.819420,566.182241,537.360273,546.155633,562.699755
3,EKO (EKEDC),191.795167,195.000000,155.016759,163.000000,133.517640,117.252571,177.000000,223.446965,234.114897,...,317.000000,313.000000,322.000000,236.000000,291.000000,849.000000,934.000000,858.000000,627.000000,828.000000
4,ENUGU (EEDC),162.000000,159.000000,146.000000,139.000000,136.000000,118.000000,148.000000,158.000000,168.000000,...,159.799076,182.596245,165.000000,137.652262,141.121211,443.773473,509.395321,420.000000,464.000000,475.000000
5,IBADAN (IBEDC),235.229052,236.538056,203.970464,230.554058,199.276902,181.076522,240.307936,283.575942,281.256615,...,269.530000,275.650000,253.990000,220.330000,242.190000,716.510000,800.060000,674.550000,621.405170,666.107883
6,IKEJA (IEDC),250.701908,253.557094,235.416870,264.490572,204.174692,184.537592,248.026049,312.804933,333.388305,...,360.322343,351.100825,320.567819,266.683594,321.075273,908.326686,1069.739361,1121.046350,835.721501,1004.539353
7,JOS (JEDC),91.000000,120.000000,68.300000,85.000000,60.000000,58.000000,71.000000,84.000000,109.000000,...,105.605742,118.657173,111.332819,92.287184,97.218377,300.838379,337.844595,262.555860,267.485257,339.050118
8,KADUNA (KDEDC),130.230000,127.430000,124.870000,134.610000,128.050000,99.800000,120.000000,147.000000,154.000000,...,83.220000,82.000000,81.213000,84.300000,86.000000,251.513000,242.220000,243.597000,434.000000,263.962000
9,KANO (KEDC),87.000000,72.870000,79.910000,63.400000,49.600000,49.640000,84.600000,102.110000,109.150000,...,124.575763,128.316131,116.038704,102.816122,111.071368,329.926194,361.875058,287.808345,310.000000,357.186424
10,PORT HARCOURT (PEDC),152.000000,134.630000,121.000000,122.000000,116.341150,105.180000,127.000000,153.000000,160.000000,...,149.913901,168.752072,163.351118,138.451056,149.602306,451.404480,473.779907,432.100886,377.004425,464.428054
11,YOLA (YEDC),21.000000,19.400000,19.000000,21.000000,19.400000,16.800000,24.000000,30.800000,34.000000,...,93.852360,68.277023,65.731940,58.314720,59.357520,183.404180,253.120436,153.580053,128.201081,140.892996

In [88]:
save(data_23_24, 'Consumption in 2023-2024', True)

C:\Users\Hafsah F. Anibaba\anaconda3\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [103]:
data_consu = pd.read_excel('../data/raw_data/statistic_id1306313_primary-energy-consumption-in-nigeria-2010-2021.xlsx', sheet_name = 'Data', skiprows= 4)
data_consu = data_consu.drop(['Unnamed: 0'], axis = 1)
data_consu.columns = ['Year', 'Energy Consumed (TWh)']
data_consu = data_consu.set_index('Year')
data_consu

      Energy Consumed (TWh)
Year
2010                 243.70
2011                 346.75
2012                 345.86
2013                 444.88
2014                 485.73
2015                 459.22
2016                 469.57
2017                 456.42
2018                 488.39
2019                 504.77
2020                 509.37
2021                 543.74

In [104]:
save(data_consu, 'Consumption from 2010 to 2021 (Yearly)', True)

C:\Users\Hafsah F. Anibaba\anaconda3\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")